{% extends "package/read.html" %}

{% block subtitle %}{{ super() }} - Archive{% endblock %}

{% block primary_content_inner %}
<ul class="{{ list_class or 'dataset-list list-unstyled' }}">
{% for revision in revisions %}
  <li class="{{ item_class or "dataset-item" }}">
    <div class="dataset-content">
      <h3 class="dataset-heading">
        {% if revision.private %}
        <span class="dataset-private label label-inverse">
          <i class="fa fa-lock"></i>
          {{ _('Private') }}
        </span>
        {% endif %}
        {{ revision.name }}
      </h3>
    </div>
    <ul class="dataset-resources list-unstyled">
    {% for file in revision.files %}
      <li>
        {% link_for file.name, named_route='dataset.download', uid=pkg.name, path=file.path, class_="label label-default" %}
      </li>
    {% endfor %}
    </ul>
  </li>
{% endfor %}
</ul>
{% endblock %}
