{% ckan_extends %}

{% block content_action %}
  {% if not is_activity_archive %}
    {% if h.check_access('package_update', {'id':pkg.id }) %}
  {# ckanext.coat customization - start #}
  {% if not h.datasetversions_is_old(pkg) %}
    {% link_for _('New version'), named_route='dataset.new_version', uid=pkg.name, class_='btn btn-primary', icon='plus-square' %}
  {% endif %}
  {# ckanext.coat customization - end #}
      {% link_for _('Manage'), named_route=pkg.type ~ '.edit', id=pkg.name, class_='btn btn-default', icon='wrench' %}
    {% endif %}
  {% endif %}
{% endblock %}

{% block secondary_help_content %}
    {# ckanext.coat customization - start #}
    {{ super() }}
    {% if h.coat_is_under_embargo(pkg) %}
      <span class="label label-warning">Dataset under embargo</span>
    {% endif %}
    {# ckanext.coat customization - end #}
{% endblock %}
